@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;

}

body {
    background-color: #9825b8;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 800px;
    height: 100%;
}

.container-imagem {
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-imagem p {
    font-size: 25px;
    margin-top: 3px;

}

.img {
    background-image: url("./LOGO\ CURSINHO\ ELDORADO.png");
    height: 150px;
    width: 150px;
    background-size: cover;
    margin-bottom: 10px;
}

.container-botao {
   display: flex;
   align-items: center;
   margin-top: 20px;
   flex-direction: column;
   gap: 20px;
}


.botao {
    width: 90%;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #f79011;
    -webkit-box-shadow: 4px 3px 0px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 4px 3px 0px 0px rgba(66, 68, 90, 1);
box-shadow: 4px 3px 0px 0px rgba(66, 68, 90, 1);
    color: inherit;
    text-decoration: none;
}

.botao i {
    margin-left: 20px;
    font-size: 25px;
}

.botao p {
    flex: 1;
    text-align: center;
    font-weight: 600;

}

.botao:hover {
    background-color: #fc991f;
    cursor: pointer;
    width: 92%;

}

.container-icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
}

.icones {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icones:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icones i {
    font-size: 28px;
}